/* Root Color */
:root {
  --wp-blue: #4581f6;
  --wp-navy: #002265;
  --wp-black: #07253c;
  --wp-grey: #45505b;
  --dark-mode: #121212;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}
section {
  padding: 50px 0;
  overflow: hidden;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%4581f6' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%4581f6' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.btn-light {
  color: var(--wp-blue);
  background: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
}
.btn-light:hover {
  background: none;
  color: var(--wp-black);
}
.section-title {
  color: var(--wp-grey);
}
.section-title h2 {
  font-size: 34px;
  position: relative;
  padding-bottom: 12px;
}
.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1.5px;
  background: var(--wp-grey);
  bottom: 2px;
  left: calc(50% - 60px);
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 5px;
  background: var(--wp-blue);
  bottom: 0;
  left: calc(50% - 20px);
}

/* ==========Navbar========== */
.navbar a {
  margin: 0 5px;
}
.navbar {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.navbar-nav .nav-link {
  letter-spacing: 1px;
}
.navbar-nav .active {
  color: var(--wp-blue) !important;
  font-weight: 600;
  letter-spacing: 1px;
}
/* ==========Hero========== */
#home .heading {
  font-size: 36px;
  color: var(--wp-navy);
  font-weight: 600;
  line-height: 75px;
  letter-spacing: 1.5px;
  max-width: 100%;
}
#home .sub-heading {
  font-size: 36px;
  font-weight: 400;
  line-height: 52px;
  margin-bottom: -10px;
  color: var(--wp-navy);
}
#home .description {
  font-size: 30px;
  color: var(--wp-grey);
}
#home span {
  font-size: 30px;
  color: var(--wp-blue);
}
#home img {
  max-height: 500px;
  animation-duration: 3s;
}

/* ==========About========== */
#about img {
  max-height: 500px;
  transition: 2s;
}
#about img:hover {
  transform: translateY(-20px);
}
#about .description {
  font-size: 18px;
  color: var(--wp-black);
}
#about .description span {
  color: var(--wp-blue);
}

/* ==========Resume========== */
.resume-title {
  color: var(--wp-black);
  margin-left: 8px;
  font-size: 24px;
}
#resume ul li {
  font-size: 20px;
  margin-right: 14px;
  color: var(--wp-blue);
  font-weight: 600;
  letter-spacing: 2px;
}
#resume ul li p {
  color: var(--wp-grey);
  font-size: 14px;
}
#resume ul li p i {
  margin-left: 4px;
}

/*============ Skilss============ */
#skills .info-skills {
  border: none;
  background-color: #fff;
  width: 180px;
  margin: 0 auto;
}
#skills .info-skills img {
  width: 90px;
  padding: 15px 15px;
  border-radius: 20px;
  border: 6px solid #fff;
  color: var(--wp-blue);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: 0.5s;
}
#skills .info-skills img:hover {
  border: 6px solid var(--wp-blue);
}
#skills .info-skills p {
  font-size: 18px;
  font-weight: 600;
  color: var(--wp-grey);
}
/* ==========Portfolio========== */
.btn-outline-secondary {
  font-size: 18px;
  border-color: var(--wp-blue);
  color: var(--wp-blue);
  padding: 4px 14px;
}
.btn-outline-secondary:hover {
  background: var(--wp-blue);
  border-color: var(--wp-blue);
}

#portfolio .card {
  position: relative;
  margin-bottom: 26px;
  color: #000;
  border-radius: 0;
  border: 1px solid #eee;
  background-color: #fff;
  box-shadow: 1px 1px 1.5px rgba(0, 0, 0, 0.075);
}

.card-head {
  position: relative;
  overflow: hidden;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(67, 78, 94, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  -webkit-transition: ease-in-out 0.2s;
  -moz-transition: ease-in-out 0.2s;
  -ms-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.card-hover {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--wp-blue);
  flex-direction: column;
  box-sizing: border-box;
  padding: 30px;
  -webkit-transition: ease-in-out 0.2s;
  -moz-transition: ease-in-out 0.2s;
  -ms-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}
.card-hover h3 {
  font-size: 24px;
}

.btn-light i {
  margin-right: 8px;
}
/* Modal */
.details a {
  text-decoration: none;
}
.modal-body {
  padding: 14px 0 0 0;
}
.details li {
  font-size: 16px;
}
.details-content {
  padding: 0;
}

/* ==========Desktop Devices========== */
@media (min-width: 992px) {
  #home .heading {
    font-size: 68px;
  }
  #about .description {
    font-size: 20px;
  }
}
